@model WebApplication1.Models.LoginModel
@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/log-n-reg.css")


<div id="log-reg">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div style="text-align: center;"><h4>Авторизація</h4></div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="InputEmail">Пошта</label>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
       
    </div>
    <div class="form-group">
        <label for="InputPassword">Пароль</label>
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <input type="submit" value="Увійти" class="btn btn-default" />
    <div>
        @Html.ActionLink("Зареєструватися", "Register")
    </div>
}
</div>
<div class="info-about-site">
    <div class="title-site"><h1>Future profession</h1></div>
    <div class="content">
        Вибір професії - це велика відповідальність. Відповідальність перед батьками, перед суспільством, та найголовніше - перед собою.
        Відповідальність перед собою, мабуть, найважливіша, і полягає вона в тму,  щоб обрати саме свій шлях і ним йти. Бо тільки сама людина може побачити, до чого в неї більший хист, до чого відчуває вона покликання. Кожен відчуває, що йому легше "дається" і, отже, чому
        зможе присвятити життя. І тут найважливіше - не схибити. Світ професій - незвичайний світ. У цьому світі живуть не просто люди, а представники різних професій. Професія - це дуже важлива частина життя людини, і чим вдаліше ти зробиш вибір, тим більше досягнеш бажаного на професійному терні, тим БІЛЬШЕ ВІДЧУЄШ СЕБЕ УСПІШНИМ І ЩАСЛИВИМ.
        Саме для шукаючих своє призвання створено цей Інтернет портал. Наша мета: надати можливість абітурієнтам детальніше дізнатися
        про будь-які професії аби не зробити найбільшу помилку в житті - ПОСТУПИТИ НЕ ТУДИ. І якщо ти хочеш поринути в світ професій, то
        скоріше реєстуйся! Ми підготували тобі цікаві квести, щоб ти не занудьгувавв процесі ознайомлення безмежної кількості доріг, однією з яких тобі доведеться пройти через все життя.
    </div>
</div>

