@model WebApplication1.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}
@Styles.Render("~/Content/log-n-reg.css")


<div id="log-reg" style="margin-top: 10% !important;">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()


        <div style="text-align: center;"><h4>Регістрація</h4></div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="InputEmail">Пошта</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="InputName">Ім'я</label>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="InputPassword">Пароль</label>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="InputConfirmPassword">Підтвердити пароль</label>
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="InputDate">Дата народження</label>
            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="InputNumber">Номер телефону</label>
            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImageId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.LabelFor(model => model.ImageId, "Загрузить изображение")
                <div>
                    <input type="file" name="uploadedFile" id="uploadedFile" />
                </div>
            </div>
        </div>


        <input type="submit" value="Створити" class="btn btn-default" />
        <div>
            @Html.ActionLink("Вже є аккаунт?", "Login")
        </div>


    }
</div>
        <div class="info-about-site">
            <div class="title-site"><h1>Future profession</h1></div>
            <div class="content">
                Вибір професії - це велика відповідальність. Відповідальність перед батьками, перед суспільством, та найголовніше - перед собою.
                Відповідальність перед собою, мабуть, найважливіша, і полягає вона в тму,  щоб обрати саме свій шлях і ним йти. Бо тільки сама людина може побачити, до чого в неї більший хист, до чого відчуває вона покликання. Кожен відчуває, що йому легше "дається" і, отже, чому
                зможе присвятити життя. І тут найважливіше - не схибити. Світ професій - незвичайний світ. У цьому світі живуть не просто люди, а представники різних професій. Професія - це дуже важлива частина життя людини, і чим вдаліше ти зробиш вибір, тим більше досягнеш бажаного на професійному терні, тим БІЛЬШЕ ВІДЧУЄШ СЕБЕ УСПІШНИМ І ЩАСЛИВИМ.
                Саме для шукаючих своє призвання створено цей Інтернет портал. Наша мета: надати можливість абітурієнтам детальніше дізнатися
                про будь-які професії аби не зробити найбільшу помилку в житті - ПОСТУПИТИ НЕ ТУДИ. І якщо ти хочеш поринути в світ професій, то
                скоріше реєстуйся! Ми підготували тобі цікаві квести, щоб ти не занудьгувавв процесі ознайомлення безмежної кількості доріг, однією з яких тобі доведеться пройти через все життя.
            </div>
        </div>

